.formcontrol{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.formcontrol label{
    margin-bottom: .6em;
    font-weight: bold;
    
    

}

.formcontrol input{
    padding: .7em;
    border-radius: 0;
    border:1px;
}

.formcontrol::placeholder{
    color:rgb(236, 235, 231);
}