.center{
    margin-left: 30%;
    margin-top: 2em;
    
}

.textwhite{
    color:antiquewhite;
    text-decoration-line: underline;
    text-decoration-color: rgb(241, 41, 41);
}

.text{
    color:rgb(105, 105, 104);
}